.pending {
    
}

.pending *{
    display: none;
}

.loreNavContainer {
    display: none;
    margin-bottom: 50px;
    border-top: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);

    .loreNav {
        display: flex;
        align-items: center;

        .loreTabMobile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-right: 1px solid rgb(196, 196, 196);
            border-left: 1px solid rgb(196, 196, 196);
            cursor: pointer;

            img {
                width: 24px;
                display: inline-block;
            }
        }

        .pagePath {
            font-size: 18px;
            padding-left: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            // display: flex;
            // align-items: center;
            // column-gap: 10px;    

            span {
                font-weight: 600;
            }
        }
    }
}

.loreContainer {
    display: grid;
    grid-template-columns: 30% 65%;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 60px;
    margin-bottom: 90px;
    position: relative;
}

.loreTableContainer {
    transition: 0.4s
}

.loreTableContainer h1 {
    font-size: 26px;
    margin-bottom: 15px;
}

.loreTableTitle {
    font-size: 19px;
    // border: 1px solid magenta;
    position: relative;
    margin-bottom: 18px;
    margin-top: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.dsd {
    color: red;
}

.chosen {
    color: #9B5DE5;
    font-weight: 600;
}

ul.loreTableSub {
    // margin-top: 20px;
    // margin-bottom: 10px;
    position: relative;


    .loreTableSubtitle {
        padding-left: 30px;
        border-radius: 4px;
        // border: 1px solid magenta;  
        font-size: 17px;
        // background-color: magenta;
        display: grid;
        // display: inline-block; 
        // grid-template-columns: minmax(0, 1fr);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        max-width: 100%;
        transition: 0.2s;
        cursor: pointer;

        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;


    }

    .loreTableSubtitle::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 24px;
        left: 0px;
        top: -10px;
        // background-color: red;
        // margin-bottom: 15px;
        border-bottom-left-radius: 4px;
        border-left: 2px solid rgb(196, 196, 196);
        border-bottom: 2px solid rgb(196, 196, 196);
    }


    // .chosen::before {
    //     content: '';
    //     border-bottom: 2px solid #9B5DE5;
    // }
}

.loreContent {
    display: block;

    .loreTop {
        // margin-bottom: 30px;

        .loreTitle {
            font-size: 34px;
            margin-bottom: 15px;
            font-weight: 600;
            // transition: 0.1s;
            cursor: pointer;

            span {
                display: none;
            }
        }

        .loreTitle:hover {
            color: #9B5DE5;
            text-decoration: underline;

            span {
                display: inline-block;
                text-decoration: underline;
            }
        }
    }

    .loreText {
        font-size: 19px;
        line-height: 28px;
        white-space: pre-line;
        text-align: justify;
        margin-bottom: 25px;


        .loreUser a {
            color: white;
            background: #9B5DE5;
            border-radius: 4px;
            padding: 1px 4px;
        }
    }

    .pagination {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;

        @mixin prevNext() {
            // border: 1px solid #9B5DE5;
            box-shadow: 0px 0px 0px 1px #9B5DE5;
            color: #9B5DE5;
            border-radius: 3px;
            padding: 10px 20px;
            font-size: 18px;
            transition: 0.3s;
            cursor: pointer;
        }

        .prev,
        .next {
            @include prevNext();
        }

        .prev:hover,
        .next:hover {
            // font-weight: 600;
            text-shadow: 0 0 1px #9B5DE5;
            box-shadow: 0 0 0 2px #9B5DE5;
            color: white;
            background-color: #9B5DE5;
        }

        .disabledBtn {
            display: none;
        }

    }
}

@media screen and (max-width: 768px) {
    .loreNavContainer {
        display: block;
    }

    .loreContainer {
        grid-template-columns: 100%;
        margin-top: 0;

        .loreContent {
            .loreTop {
                .loreTitle {
                    font-size: 30px;
                }
            }
        }

        .loreTableContainer {
            background: white;
            position: absolute;
            width: 100%;
            top: 0;
            transform: translateX(-100%);
        }

        .openMobileNav {
            padding: 25px;
            transform: translateX(0%);
            margin-top: -50px;
        }
    }

    .loreContentOff {
        display: none;
    }

}